$color-blk: #333645;
$color-blk-hvr: #22242E;
$color-grey: #E5E5E5;
$color-grey-lg: #999aa2;
$color-grey-hvr: #84858F;
$color-blue: #4183D7;
$color-blue-hvr: #2A6EC6;
$color-white: #fff;
$color-nav-purp: #926FB1;
$color-purp-hvr: #7E57A0;
$color-nav-red: #D64541;
$color-nav-red-hvr: #BC2C28;
$color-nav-blue: #67809F;
$color-nav-blue-hvr: #526781;
$color-nav-green: #2ECC71;
$color-nav-green-hvr: #25A25A;
$color-nav-radred: #F62459;
$color-nav-radred-hvr: #DE093F;
$color-fb: #3B5998;
$color-tw: #00ACED;
$color-in: #D93175;
$color-li: #0077B5;
$color-blue-glow: #5bc0de;
$color-opacity: #4949496b;

$search-border: 2px solid rgba(0, 0, 0, .1);
$search-outline: 1px solid hsla(0, 0%, 100%, .2);


$font-default: 'Poppins', sans-serif;
